.top-links {
  float: right;
  padding: 15px;
  position: fixed;
  top: 0;
  right: 0;
}

.sidebar {
  width: 150px;
  background-color: #f9f9f9;
  float: left;
  font-size: 12px;
  padding-left: 10px;
  display: inline;
}

.logoimg {
  width: 100%;
}

.sidebar li {
  color: #0645ad;
}

ul {
  list-style: none;
  padding-left: 0;
}

.subnav {
  padding-top: 60px;
  height: 110px;
  overflow: hidden;
  float: left;
  width: 100%;
}
.righty {
  float: right;
}
.welcome {
  height: 100px;
  margin-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  float: left;
  background-color: #f9f9f9;
  padding-top: 0px;
  width: 95%;
}
.leftpanel {
  float: left;
  width: 300px;
  text-align: center;
}
.wikiwelcome {
  margin: 0;
  padding: 0;
}
.rightpanel {
  float: right;
}
.rightpanel ul {
  list-style: initial;
  color: #0645ad;
}

.linkcolor {
  color: #0645ad;
}

.leftimg {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.main {
  width: 95%;
  float: left;
  margin-left: 20px;
}

.gridcontrol {
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
}

.rightimg {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}
body {
  font-family: sans-serif;
}

.panel-heading {
  padding: 3px;

}

.panel-heading h4 {
  margin: 2px;
  color: black;
  font-weight: bold;
}
.panel-success {
  background-color: #f5fffa;
}
.panel-info {
  background-color: #f5faff;
}
